* {
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
    cursor: url(images/CursorDefault.png), default;
}
* ::selection {
    background-color: #FCBC75;
    color: black;
}


a, nav, button, img{
    user-select: none;
    text-decoration: none;
}

h1, h2, h3 {
    margin:0;
}

p {
    line-height: 1.5;
    margin:0;
}

body{
    padding:0;
    background-color: #FFFEFC;
    margin: 0 auto;
    padding: 0 20px;
}

.TitleH1 {
    font-size: 48px;
    font-weight: 600;
    margin: 20px auto;
}


.TextPThin {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
}

.Number {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 400;
}


/* ————————————————— Nav ——————————————————————— */


nav {
    max-width: 1400px;
    width: 100%;
    margin: 30px auto;
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000;
}

nav a{
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

nav img{
    width: 40px;
    height: 40px;
    opacity: 0.3;
}
nav img:hover {
    opacity: 1;
    cursor: url(images/CursorPointer.png), pointer;
}

/* ————————————————— GoTop ——————————————————————— */

.GoTop {
    max-width: 1400px;
    width: 100%;
    margin: 30px auto;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    position: fixed; 
    bottom: 0; 
    left: 0;
    right: 0; 
    z-index: 1000; 
}

.GoTop a{
    display: block;
    width: 40px;
    margin-right: 20px;
}
.GoTop img{
    width: 40px;
    display: none;
    opacity:0.3;
}

.GoTop img:hover {
    opacity: 1;
    cursor: url(images/CursorPointer.png), pointer;
}

/* ————————————————— Header ——————————————————————— */

header {
    background-image: url('images/VirtualDecoration/HeadBg.png');
    background-repeat: no-repeat;
    background-size: 602px;
    background-position: left 140px;
    width: 100%;
    height:600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.HeaderContent{
    margin-top: 140px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}


/* .HeaderOccupy {
    width: 60%;

}

.HeaderText {
    width: 40%;
} */

header h1 {
    font-size: 72px;
    margin: 0;
}

/* ————————————————— ProjectTitle ——————————————————————— */

.Project {
    width: 100%;
    background-image: url('images/VirtualDecoration/BgShapeYellow.svg');
    background-repeat: no-repeat;
    background-size: 300px 100px;
    background-position: left 660px;
}

.ProjectTitle {
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
}

.ProjectName {
    width: 100%;
}


.ProjectTitle h1 {
    width:100%;
}

.ProjectTitle img {
    width: 100%;
}

/* ————————————————— Introduction ——————————————————————— */


.Introduction {
    width: 100%;
    background-color: #FBF6EB;
}

.IntroContent {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 160px 20px;
}

.Introduction p{
    max-width: 800px;
    text-align: justify;
}

.Introduction span {
    font-weight: 400;
}





/* ————————————————— Concept ——————————————————————— */

.ConceptContainer {
    background-image: url('images/VirtualDecoration/BgShapeYellow.svg');
    background-repeat: no-repeat;
    background-size: 144px 200px;
    background-position: right center;
    width: 100%;
    padding: 100px 0;
}

.Concept {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex; 
    justify-content: center;
    align-items: stretch;
    padding: 0 20px;
}

.Concept img{
    width:100%;
    height: auto;
}

.ConceptText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    padding: 0 6%;
    text-align: left;
}

.Concept h1 {
    margin-left: 0px;
}


/* ————————————————— Persona ——————————————————————— */


.Persona {
    width:100%;
    display: flex;
    align-items: center;
    padding:160px 0;
    background-image: url('images/VirtualDecoration/BgShapeYellow.svg');
    background-repeat: no-repeat;
    background-size: 480px 400px;
    background-position: 200px 100px;
}

.PersonaContainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.PersonaContent {
    width: 70%;
    background-color: white;
    display: flex;
    align-items:center;
    box-shadow: 0 6px 64px rgba(112, 144, 176, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

.PersonaPhoto {
    width:32%;
    background-color: #FFE7CD;
    padding:40px;
    text-align: center;
}

.PersonaPhoto img{
    max-width: 157px;
    width: 100%;
    margin: 10px auto;
}

.Persona h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 10px auto;
}

/* .Persona h1{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
} */

.Persona p {
    font-size: 14px;
    font-weight: 200;
    margin: 6px auto;
}

.PersonaText {
    width: 68%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.Persona h3{
    font-size: 18px;
}


/* ————————————————— Problem Statement ——————————————————————— */


.Statement {
    width: 100%;
    background-color: #FBF6EB;
}

.StatementContent {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 160px 20px;
}

.Statement p{
    max-width: 800px;
    text-align: justify;
}

.Statement span {
    font-weight: 400;
}


/* ——————————— Brainstorm ——————————— */

.Brainstorm {
    width: 100%;
}

.BrainstormContent {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 200px 20px;
    justify-content: center;
    align-items: center;
}

.BrainstormContentText {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-top: 20px;
}

.BrainstormContentText_Yellow, .BrainstormContentText_Blue {
    padding: 40px;
    background-color: #FFE7CD;
    border-radius: 20px;
}

.BrainstormContentText_Blue {
    background-color: #E8F1F7;
}

.Brainstorm h2 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 800;
}

.Brainstorm p {
    font-size: 16px;
    line-height: 1.5;
}


/* ——————————— Implementation ——————————— */


.Implementation {
    width: 100%;
}

.Implementation img {
    width: 80px;
}

.Implementation h1 {
    margin-left: 13%;
}

.Implementation h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}


.Implementation p {
    max-width: 700px;
    font-size: 16px;
    font-weight: 200;
}

.ImpContent {
    width: 100%;
    max-width: 1200px;
    margin:100px auto;
    padding: 0 20px;
}

.ImpConTitle {
    margin-bottom: 40px;
}

.ImpConList {
    background-image: linear-gradient(to right, #FFE7CD, rgba(255, 231, 205, 0));
    padding: 30px 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    gap:20px;
}

.ImpConListText {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.ImpConList2 {
    background-image: linear-gradient(to left, #E8F1F7, rgba(232, 241, 247, 0));
    padding: 40px 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
}

.ImpConListTextR {
    display: flex;
    flex-direction: column;
}


/* ——————————— User Journey (Concise) ——————————— */


.Journey {
    width: 100%;
}

.JourneyContent {
    width: 100%;
    max-width: 1200px;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

.JourneyConTitle {
    margin-bottom: 40px;
}

.JourneyContent img {
    max-width: 1200px;
    width: 100%;
}


/* ——————————— User Journey (Concise) ——————————— */

.Wireframe {
    width: 100%;
}

.WireContent {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.WireContent img {
    width: 536px;
}

.WireConText {
    flex-grow: 1;
    padding: 80px 40px;
}

/* ——————————— Experience ——————————— */

.Experience {
    width: 100%;
}

.ExperContent {
    max-width: 1200px;
    margin:200px auto;
    padding:0 20px;
    display: flex;
    flex-direction:column;
    overflow:hidden ;
}

.ExperContent img {
    max-width: 1200px;
    width: 100%;
    margin-top: 100px;
}

.ExperContent h1 {
    margin-left: 7%;
}
.ExperContent p {
    margin-left: 13%;
    max-width: 760px;
}


/* ——————————— Footer ——————————— */


.FooterContent {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-content: center;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FooterContent h1 {
    text-align: center;
}

.FooterConButton {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.FooterA1 {
    background-color: #FCBC75;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    width: 160px;
    text-align: center;
    padding: 6px;
    color: black;
}

.FooterA2 {
    background-color: #FFFEFC;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    width: 160px;
    text-align: center;
    padding: 6px;
    color: black;
    border: 1px solid black;
}


.FooterConShape {
    width: 100%;
    height: 4px;
    background-color: #FBF6EB;
    margin-top: 40px;
}

.FooterA1:hover {
    color: #FCBC75;
    background-color: #404040;
    cursor: url(images/CursorPointer.png), pointer;
}

.FooterA2:hover {
    color: #ff9e2e;
    border-color: #FCBC75;
    cursor: url(images/CursorPointer.png), pointer;
}

footer img {
    margin-top: 100px;
    opacity: 0.5;
}

footer img:hover {
    opacity: 1;
}






/* For desktop*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width:600px) {

    [class*="col-"]{
        width:100%;
    }

    .BrainstormContentText, .Concept, .PersonaContent, .WireContent {
        display: block;
    }
    header {
        margin-bottom: 200px;
    }
    .HeaderOccupy {
        display: none;
    }


}