* {
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
    color: #3e2407;
    cursor: url(images/CursorDefault.png), default;
}
* ::selection {
    background-color: #FCBC75;
    color: black;
}

/* dynamic */

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}

body{
    margin:0;
    padding:0 auto;
    background-image: url('images/bg-yellow.png');
    background-color: #F9FAFF;
    background-repeat: no-repeat;
    background-size: 793px;
    background-position: top right;
    
}
a, nav, button, img{
    user-select: none;
    text-decoration: none;
}

.screen::after{
    content:"";
    clear: both;
    display: table;
}

/* Navagation section */
nav {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    z-index: 1000;
    /* background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px);  */


}
#nav-content{
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-logo {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px); 
    border-radius: 100px;
}

.nav-logo p {
    margin:0 20px;
    font-size: 24px;
    font-weight: 800;
}

nav img{
    width: 30px;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    float: right;
}

nav li {
    /* margin-right: 10px; */
}

nav a{
    text-decoration:none;
    font-size: 18px;
    color:black;
    padding: 10px 15px;
    border-radius:5px;
    text-align: center;
    font-weight: 800;
    position: relative;
    text-decoration: none; 
    cursor: url(images/CursorPointer.png), pointer;
}
nav a::after {
    content: "";
    position: absolute;
    bottom: -2px; 
    left: 50%; 
    width: 0; 
    height: 4px; 
    background-color: black;
    transition: width 0.2s; /* transition effect */
    margin: 0 auto; 
    transform: translateX(-50%);
    border-radius: 5px; 

}
nav a:hover::after{
    width: 50%; /* Horizontal lines become longer when hovering */
}

/* Screen section */

.screen {
    height: 100vh; /* Set height as height aswindows */
    overflow-y: scroll; /* 设置垂直方向溢出时显示滚动条 */
    margin: 0 auto;
    max-width: 1200px;
}

/* Screen 1 */

.screen1 {
    position: relative;
    width: 100%;
    padding-top: 200px;

}

.screen_content {
    max-width: 1200px;
    padding: 0 20px;
}

.content-text{
    width: 100%;
}
.content-text img {
    width: 238px;
}
.text-designer {
    font-weight: 400;
    font-size: 24px;
    color: #FCBC75;
    max-width: 420px;;
}
.screen_content h1{
    font-weight: 300;
    font-style: normal;
    font-size: 64px;
    margin-bottom: 0.2em;
}
.screen_content h3{
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    margin-bottom: 0.2em;
}

.content-text p{
    font-size: 16px;
    line-height: 120%;
    max-width: 600px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}


.screen1-button {
    margin-top: 30px;
}

.screen1-button button{
    width: 200px;
    height: 40px;
    text-align: center;
    background-color: #FCBC75;
    border:none;
    font-weight: 600;
}

.screen1-button button:hover {
    color: #FCBC75;
    background-color: #3e2407;
    cursor: url(images/CursorPointer.png), pointer;
}

.screen1-connect {
    margin-top: 40px;
}
.screen1-connect ul{
    list-style-type: none;
    padding-left: 0;
}

.screen1-connect li {
    margin-right: 20px;
    display:inline;
}
.screen1-connect img{
    width: 26px;
}
.screen1-arrow{
    width: 100%;
    text-align: center;
    position:absolute;
    bottom:100px;

}
.screen1-arrow img{
    width:38px;
    animation: blink 1s infinite;
}

.screen1-arrow img:hover {
    cursor: url(images/CursorPointer.png), pointer;

}


/* ---------- Experience -------------- */

.Experience {
    width: 100%;
}

.ExperienceCon {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ExperienceConList {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ExperienceConCompany {
    background-color: white;
    border-radius: 24px;
    padding: 20px 30px;
    box-shadow: 0 6px 64px rgba(112, 144, 176, 0.1);
    
}

.ExperienceConList h3, p {
    margin: 6px;
}

.Experience h1 {
    font-size: 48px;
}

.Experience h3::before {
    content: "• "; 
    color: #FCBC75; 
    font-size: 26px; 
}

/* ------------ PROJECT ------------- */




/* Screen 2 */
#screen2 {
    max-width: 1200px;
    margin:0 auto;
    display:flex;
    justify-content: center;
}

#screen2 h1 {
    font-size: 48px;
    text-align: center;
}

.ProjectsList {
    opacity: 0; /* Initial state is not visible */
    transform: translateY(100px); /* Initial state offset down */
    transition: opacity 0.3s ease-out, transform 0.3s ease-out; /* Add fade and up effects */
    width:85%;
    /* height: 260px; */
    display: flex;
    margin:20px auto;
    border-radius: 10px; 
    overflow: hidden;
}

.ProjectsList:hover {
    box-shadow: 0 6px 64px rgba(112, 144, 176, 0.1);
    transform: translateY(-8px)!important;
    cursor: url(images/CursorPointer.png), pointer;
}

.ProjectsList.visible {
    opacity: 1; 
    transform: translateY(0); /* move to initial location */
}

.ProjectsList-text {

    padding: 20px 40px;
    background-color: white;
}

.ProjectsList-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#screen2 p {
    font-size: 16px;
    line-height: 120%;
    max-width: 600px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.ProjectsList-text a {
    display: block;
    padding: 6px 20px;
    border-radius: 100px;
    border: 2px solid #FCBC75;
    margin-top: 40px;
    font-size: 14px;
    max-width: 156px;
    text-align: center;
}

.ProjectsList-image img {
    width:510px;
    height: auto;
}

.ProjectsList-text a:hover {
    background-color: #FCBC75;
    cursor: url(images/CursorPointer.png), pointer;
}





.Screen2Ccontent img:hover {
    cursor: url(images/CursorPointer.png), pointer;
}



/* ------------ Footer -------------- */


footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    margin-top: 100px;
    background-color: #FCBC75;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li img {
    max-width: 26px;
}
footer li a {
    display: flex;
    flex-direction: row;
}

footer p {
    padding:0 10px;
    margin: 0;
}

.FooterInfor {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.FooterInfor h1 {
    font-size: 48px;
    margin: 0;
}

.FooterInfor h3 {
    margin: 0;
    font-weight: 400;
}


.FooterInfor {
    display: flex;
    justify-content: space-between;
}

.FooterInforCon{
    width:50%;
    display: flex;
    align-items: self-end;
    flex-direction: column;
    padding-right: 100px;
}

.FooterInforConPhone {
    margin-top: 55px;
}

.FooterInforTable {
    width: 50%;
    /* display: flex;
    justify-content: space-between;
    align-items:flex-start; */
}

.FooterInforTable ul {
    margin: 0;
}

input, textarea {
    width: 260px;
    height: 50px;
    margin-bottom: 5px;
    border: none;
    background-color: white;
    text-indent: 10px;
}

input:focus {
    outline: 2px solid #534433;
}

input::placeholder {
    color: #CCCCCC;
    text-indent: 10px;
}

#feedback {
    height: 114px;
}

#InForSubmit {
    background-color: #534433;
    color:#FCBC75;
}

#InForSubmit:hover {
    background-color: #826d55;
}



/* ------------ Media -------------- */


.FooterMedia {
    width: 100%;
    height: 160px;
    background-color: #534433;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FooterMedia img{
    max-width: 302px;

}



/* ------------ Tips -------------- */

.tooltip {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px); 
    border-radius: 100px;
    /* border: 1px solid rgba(252, 188, 117, 1); */
    padding: 4px 20px;
    display: none;
    z-index: 9999;
    font-size: 12px;
    animation: blink 2s infinite;
    color: #FCBC75;
    font-weight: 800;
}

/* For desktop*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width:600px) {

    [class*="col-"]{
        width:100%;
    }

    .ExperienceConList {
        display: block;
        margin-bottom: 10px;
    }

    body {
        background-image: none;
    }

    .ProjectsList {
        flex-direction: column;
    }

    .FooterInfor {
        display: block;
    }
    .FooterInforCon, .FooterInforTable {
        padding: 0;
        align-items: center;
    }

    .FooterInforTable ul {
        margin-top: 60px;
    }

    .FooterInforTable li {
        text-align: center;

    }
    .FooterInforTable input {
        width: 80%;
    }

}

